* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    background: #151515;
  
    width: 100%;
    box-shadow: rgba(50, 50, 93, 0.8) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.8) 0px 30px 60px -30px;
    padding: 1.5em 2em 0.5em;
    color: #7bea0c;
  }

.logo-hack {

width: 50px;
border-radius: 50%;
margin-top: -10px;
margin-left: -70px;
}

@media only screen and (max-width: 600px) {
   .logo-hack {
     margin-left: -14px;
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    margin-inline: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
  }
  .logo {
    font-weight: bold;
    font-size: 1.25rem;
    padding-bottom: 0.5em;
    margin-left: -390px;
  }
  @media only screen and (max-width: 600px) {
    .logo {
      margin-left: -70px;
      font-size: 14px;
     }
     .fundador {
      margin-left: 50px;
     }
   }
  nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    font-size: 1rem;
  }
  a {
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
  }
  nav ul li {
    border-bottom: 2px solid transparent;
    padding-bottom: 0.5em;
    transition: all 200ms ease;
    cursor: pointer;
  }
  nav ul li:hover {
    border-bottom: 2px solid white;
  }
  #burger {
    display: none;
  }
  
  @media (max-width: 768px) {
    #burger {
      box-sizing: initial;
      display: block;
      width: 1rem;
      color: white;
      cursor: pointer;
      margin-bottom: 0.5em;
    }
    #burger:focus {
      border: none;
      outline: none;
    }
    nav {
      position: absolute;
      right: 0;
      top: 3em;
      background: #0f0f0f;
      min-width: 15em;
      padding: 2em;
      box-shadow: rgba(153, 255, 0, 0.15) 0px 48px 100px 0px;
      clip-path: circle(0% at 100% 0);
      transition: all 500ms ease-in-out;
    }
    nav.show {
      clip-path: circle(200% at 100% 0);
      transition-duration: 300ms;
    }
    nav ul {
      flex-direction: column;
    }
  }


  /*-------------------*/
  


  .navbar-imagen-encabezado {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #000000;
    padding: 10px;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.94), rgba(0, 0, 0, 0.964)) fixed, url(https://i.pinimg.com/originals/8b/e4/ef/8be4efc0a8e5bc4903aae00db82cb982.gif) fixed;
  	background-size: 300% 300%;
	  animation: gradient 15s ease infinite;
    height: 60vh;
  }


  @keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



/* Maquina Escribir */

.maquina-escribir {
    font-size: xx-large;
    display: block;
    font-family: monospace;
    white-space: nowrap; /* los espacios en blanco no rompen la línea */        
    width: 20ch; /* el ancho será el número de caracteres que tiene nuestra línea */
    animation: escribiendo 2s steps(20);          
    overflow: hidden;
    color: rgb(148, 255, 49);
    margin-left: 0.9vh;
    margin-top: 2vh;
  }

  .cursor{
    animation: 0.6s parpadeo-cursor infinite;
  }

  @keyframes escribiendo {
    from {
      width: 0;
    }
  }

  @keyframes parpadeo-cursor {
    50% {
      opacity: 0;
    }
  }

  @media only screen and (max-width: 600px) {
    .maquina-escribir {
      font-size: 20px;
      margin-left: -1px;

    }
  }

  .parrafo-encabezado_0 {
    background-color: #181818;
    height: 9vh;
    margin-top: -36px;
  }

  .parrafo-encabezado_1 {
    color:#7bea0c;
    margin-left: 17px;
    margin-top: -1vh;
  }

  .Herramienta_de_Ciber-inteligencia {
    font-size: 17px;
    margin-left: 17px;
  }
  @media only screen and (max-width: 600px) {
    .Herramienta_de_Ciber-inteligencia{
     
      margin-left: -1px;

    }
  }


  
  .parrafo-encabezado_2 {
    color:#7bea0c;
    margin-left: 17px;
    margin-top: -1vh;
  }
  
  @media only screen and (max-width: 600px) {
    .parrafo-encabezado_2{
      font-size: 14px;
      margin-left: 0vh;
      color:#7bea0c;
      width: 100%;
      margin-top: -1vh;

    }
  }





  .grid_encabezado {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-top: -20px;
  }
  .main_encabezado {
    margin-top: -46vh;
    height: 30vh;
    color: #7bea0c;
    margin-left: 2px;

  }
  .side_encabezado {
    margin-top: -62vh;
    height: 30vh;
    color: #7bea0c;
    margin-left: 2px;

}
  .main_encabezado,
  .side_encabezado {
    padding: 2%;
    border-radius: 10px
  }

  .hack-zero-encabezado-derecho {
    width: 80%;
    height: 350px;
    border-radius: 50%;
  }
  @media only screen and (max-width: 600px) {
    .hack-zero-encabezado-derecho {
     width: 100%;
     opacity: 0.2;
     

    }
  }
  
  @media(max-width: 400px){
    .grid_encabezado {
      grid-template-columns: 1fr;
    }
  }